<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" [routerLink]="'/home'" [routerDirection]="'back'">
      <ion-button>      
        <ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Edit Voter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="voterForm" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
          <ion-col size="12"><h3 class="section-title">Personal Information</h3></ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Name (English)" label-placement="stacked" fill="outline" placeholder="Enter name in English" formControlName="name_en"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Name (Hindi)" label-placement="stacked" fill="outline" placeholder="Enter name in Hindi" formControlName="name_hi"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Mobile No" label-placement="stacked" fill="outline" type="tel" placeholder="Enter mobile number" formControlName="mobile_no"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-select label="Gender" label-placement="stacked" fill="outline" formControlName="gender">
                <ion-select-option value="male">Male</ion-select-option>
                <ion-select-option value="female">Female</ion-select-option>
                <ion-select-option value="other">Other</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input type="date" label="Date of Birth" label-placement="stacked" fill="outline" presentation="date" formControlName="dob"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="WhatsApp No" label-placement="stacked" fill="outline" type="tel" placeholder="Enter WhatsApp number" formControlName="whatsapp_no"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Email" label-placement="stacked" fill="outline" type="email" placeholder="Enter email" formControlName="email"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Relative Name" label-placement="stacked" fill="outline" placeholder="Enter relative's name" formControlName="relative_name"></ion-input>
          </ion-col>
          <ion-col size="12"><h3 class="section-title">Education & Profession</h3></ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Qualification" label-placement="stacked" fill="outline" placeholder="Enter qualification" formControlName="qualification"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Graduation University" label-placement="stacked" fill="outline" placeholder="Enter university name" formControlName="graduation_university"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Graduation Year" label-placement="stacked" fill="outline" type="number" placeholder="Enter graduation year" formControlName="graduation_year"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Qualification Certificate For" label-placement="stacked" fill="outline" placeholder="Enter certificate info" formControlName="qualification_certificate_for"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Profession" label-placement="stacked" fill="outline" placeholder="Enter profession" formControlName="profession"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Additional Document" label-placement="stacked" fill="outline" placeholder="Enter document details" formControlName="additional_document"></ion-input>
          </ion-col>
          <ion-col size="12"><h3 class="section-title">Address Details</h3></ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Address" label-placement="stacked" fill="outline" placeholder="Enter full address" formControlName="address"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="House No" label-placement="stacked" fill="outline" placeholder="Enter house number" formControlName="house_no"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Gali" label-placement="stacked" fill="outline" placeholder="Enter gali name" formControlName="gali"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Village/Town" label-placement="stacked" fill="outline" placeholder="Enter village or town" formControlName="village_town"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Post Office" label-placement="stacked" fill="outline" placeholder="Enter post office" formControlName="post_office"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Tehsil" label-placement="stacked" fill="outline" placeholder="Enter tehsil" formControlName="tehsil"></ion-input>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-select label="District" label-placement="stacked" fill="outline" formControlName="district" (ionChange)="onDistrictChange($event.detail.value)">
                <!-- Options should be loaded dynamically -->
                <ion-select-option value="">Select a District</ion-select-option>
                <ion-select-option *ngFor="let d of districts" [value]="d.id">
                  {{ d.name_en }}
                </ion-select-option>
            </ion-select>

          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-select label="Vidhan Sabha" label-placement="stacked" fill="outline" formControlName="vidhan_sabha_id" (ionChange)="onVSChange($event.detail.value)">
                <!-- Options should be loaded dynamically -->
                <ion-select-option value="">Select a Vidhan Sabha</ion-select-option>
                <ion-select-option *ngFor="let vs of vidhanSabhas" [value]="vs.id">
                  {{ vs.name_en }}
                </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-select label="Ward" label-placement="stacked" fill="outline" formControlName="ward_id" (ionChange)="onWardChange($event.detail.value)">
                <!-- Options should be loaded dynamically -->
                <ion-select-option value="">Select a Ward</ion-select-option>
                <ion-select-option *ngFor="let ward of wards" [value]="ward.id">
                  {{ ward.name_en }}
                </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-select label="Mohalla" label-placement="stacked" fill="outline" formControlName="mohalla_id" (ionChange)="onMohallaChange($event.detail.value)">
                <!-- Options should be loaded dynamically -->
                <ion-select-option value="">Select a Mohalla</ion-select-option>
                <ion-select-option *ngFor="let mohalla of mohallas" [value]="mohalla.id">
                  {{ mohalla.name_en }}
                </ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12" size-sm="4">
            <ion-select label="Area" label-placement="stacked" fill="outline" formControlName="area">
                <!-- Options should be loaded dynamically -->
                <ion-select-option value="">Select area type</ion-select-option>
                <ion-select-option value="U">Urban</ion-select-option>
                <ion-select-option value="R">Rural</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size="12"><h3 class="section-title">Identity Details</h3></ion-col>
          <ion-col size="12" size-sm="4">
            <ion-input label="Aadhaar / Voter ID" label-placement="stacked" fill="outline" placeholder="Enter ID" formControlName="aadhaar_voter_id"></ion-input>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12" size-sm="4">
             <ion-button expand="full" type="submit" class="app-btn">Update</ion-button>
          </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
