<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" fill="clear" >
      <ion-menu-button><img src="assets/imgs/menu.svg" /> </ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end" [routerLink]="'/welcome'" [routerDirection]="'back'">
      <ion-button>      
        <ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
      </ion-col>

      <!-- Card: Add New Voter -->
      <ion-col size="12">
            @for (p of appPages; track p; let i = $index) {

              <ion-card button routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected"  class="dashboard-card" color="light">
                <ion-card-content class="ion-text-center">
                  <ion-icon aria-hidden="true" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" size="large"></ion-icon>
                  <h2>{{ p.title }}</h2>
                </ion-card-content>
              </ion-card>
            }

            <ion-card button (click)="getMasters()" lines="none" detail="false" [class.sync]="masterSync" [class.synced]="masterData" class="dashboard-card" color="light">
              <ion-card-content class="ion-text-center">
                <ion-icon aria-hidden="true" md="sync" size="large" *ngIf="!masterData"></ion-icon>
                <ion-icon aria-hidden="true" md="checkmark-circle" size="large" *ngIf="masterData"></ion-icon>
                <h2>Get Masters</h2>
              </ion-card-content>
            </ion-card>

<!--             
            <ion-card button (click)="cleanDB()" lines="none" detail="false" [class.cleaning]="cleaning" [class.synced]="cleanedDB" class="dashboard-card" color="light">
              <ion-card-content class="ion-text-center">
                <ion-icon aria-hidden="true" md="trash" size="large" *ngIf="!cleanedDB"></ion-icon>
                <ion-icon aria-hidden="true" md="checkmark-circle" size="large" *ngIf="cleanedDB"></ion-icon>
                <h2>Clean Data</h2>
              </ion-card-content>
            </ion-card> -->

        <!-- <div class="fdfdsgdfgdfg">
          <ion-button (click)="getMasters()" *ngIf="!masterSync" class="app-btn">Get Masters</ion-button>
          <ion-button type="button" class="app-btn" *ngIf="masterSync">
            <ion-spinner name="circular" color="light" style="height: 20px;color: #ffffff;"></ion-spinner> Loading...
          </ion-button>
          <div class="sync-msg">{{syncmsg}}</div>
        </div> -->

      </ion-col>

 <!-- <ion-card button routerDirection="root" routerLink="/sqlite-viewer" lines="none" detail="false" routerLinkActive="selected"  class="dashboard-card" color="light">
  <ion-card-content class="ion-text-center">
    <h2>DB</h2>
  </ion-card-content>
</ion-card> -->


    </ion-row>
  </ion-grid>

</ion-content>