.sync-table {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 40px;
}
.sync-table td {
    width: 50%;
    padding: 1rem;
}
.sync-table .app-btn {
    min-width: 200px;
}
.sync-msg {
    font-size: 14px;
    color: green;
}

.sync-msg {
    min-height: 28px;
    margin-top: 12px;
}

ion-col {
    font-size: 14px;
}
.head-row ion-col {
    background: #e5e7eb;
    text-transform: uppercase;
    font-size: 12px;  
}
ion-button {
    --ion-color-contrast: #ffffff!important;
        font-weight: 300;
    font-size: 12px;
    text-transform: capitalize;
}
.single-row {
    border-bottom: 1px solid #dbdbdb;
}