<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" fill="clear" >
      <ion-menu-button><img src="assets/imgs/menu.svg" /> </ion-menu-button>
    </ion-buttons>
    <ion-title>Voter List</ion-title>
    <ion-buttons slot="end" [routerLink]="'/welcome'" [routerDirection]="'back'">
      <ion-button>      
        <ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <div *ngIf="loading" style="padding: 1rem;">
    Loading...    
  </div>
  <div *ngIf="!loading">
    <div *ngIf="voters.length > 0; else noData">

      <ion-grid style=" margin-top: 2px; ">
        <ion-row class="ion-align-items-center head-row" color="light">
          <ion-col size="1"><span>ID</span></ion-col>
          <ion-col size="6"><span>Name</span></ion-col>
          <ion-col size="3"><span>Phone</span></ion-col>
          <ion-col size="2"><span>Actions</span></ion-col>
        </ion-row>

        <ion-row *ngFor="let voter of voters" class="ion-align-items-center single-row">
          <ion-col size="1" [routerLink]="['/voter-view', voter.id]">{{ voter.id }}</ion-col>
          <ion-col size="6" [routerLink]="['/voter-view', voter.id]">{{ voter.name_en }}</ion-col>
          <ion-col size="3" [routerLink]="['/voter-view', voter.id]">{{ voter.mobile_no }}</ion-col>
          <ion-col size="2">
            <ion-button size="small" color="primary" [routerLink]="['/voter-edit', voter.id]">Edit</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ng-template #noData>
      <ion-item>No voters found.</ion-item>
    </ng-template>
  </div>
</ion-content>
