<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>voter-add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="voterForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Name (English)</ion-label>
        <ion-input formControlName="name_en"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Name (Hindi)</ion-label>
        <ion-input formControlName="name_hi"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Mobile No.</ion-label>
        <ion-input type="tel" formControlName="mobile_no"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Gender</ion-label>
        <ion-select formControlName="gender">
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Other">Other</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Date of Birth</ion-label>
        <ion-datetime displayFormat="DD-MM-YYYY" formControlName="dob"></ion-datetime>
      </ion-item>

       <ion-item>
        <ion-label position="stacked">Mobile No.</ion-label>
        <ion-input formControlName="name_en"></ion-input>
      </ion-item>

      <!-- ... Repeat for all fields in [disabled]="!voterForm.valid"similar style -->

      <!-- Final Submit Button -->
      <ion-button expand="full" type="submit" >Submit</ion-button>
    </ion-list>
  </form>
</ion-content>
